<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--指定数据库-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/javasm</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!--把sql输入到控制台-->
        <property name="show_sql">true</property>
        <!--对sql语句做美化-->
        <property name="format_sql">true</property>
        <!--xml映射文件-->
        <mapping resource="Book.hbm.xml"/>
        <mapping class="cn.javasm.entity.Book"/>
    </session-factory>
</hibernate-configuration>